{% extends "notes/base.html" %}
{% load static %}

{% block content %}

<form class="form-card" method="post">
  {% csrf_token %}
  <input
    class="form-card-title"
    type="text"
    name="titulo"
    placeholder="Titulo"
  />
  <textarea
      class="autoresize"
      name="detalhes"
      placeholder="Digite o conteudo..."
  ></textarea>
  <button class="btn" type="submit">Criar</button>
</form>
<ul class="card-container">
  {% for note in notes %}
  <li class="card">
    <h3 class="card-title">
      {{ note.title }}
    </h3>
    <div class="card-content">
      <p>
        {{ note.content }}
      </p>
    </div>
    <div class="icones">
      <form action="{% url 'delete' %}" method="post">
        {% csrf_token %}
        <button class="botoes" name="id" value="{{note.id}}">Excluir</button>
      </form>
      <form action="{% url 'update' %}" method="post">
        {% csrf_token %}
        <button class="botoes" name="id" value="{{note.id}}">Editar</button>
      </form>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}